<!DOCTYPE html>
<html>
<head>
	<title>The College Dropout</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/cd.css">
	</head>
<body>
<!--NAV BAR -->
	<nav>
	<span><a href="home.html">home</a></span>
	<span><a href="cd.html">college dropout</a></span>
	<span><a href="lr.html">late registration</a></span>
	<span><a href="grad.html">graduation</a></span>
	<span><a href="heartbreak.html">808's & heartbreak</a></span>
	<span><a href="mbdtf.html">my beautiful dark twisted fantasy</a></span>
	<span><a href="yeezus.html">yeezus</a></span>
	<span><a href="tlop.html">the life of pablo</a></span>
	</nav>

	<!--SLIDESHOW-->
	<div id ="slide">

	<div class="images"><img src="../images/cd1.jpg"></div>

	<div class="images"><img src="../images/cd2.jpg"></div>

	<div class="images"><img src="../images/cd3.jpg"></div>

	<div class="images"><img src="../images/cd4.jpg"></div>

	<div class="images"><img src="../images/cd5.jpg"></div>
	</div>

	<!--MAIN CONTENT -->
	<div id="container">
	<h1>The College Dropout</h1>
	<!--COURTESY OF WIKIPEDIA-->
	<p>The College Dropout is the debut studio album by American hip hop artist Kanye West, released February 10, 2004, by Roc-A-Fella Records. It was recorded over a period of four years, beginning in 1999. Prior to the album's release, West had received praise for his production work for artists such as Jay-Z and Talib Kweli, but faced difficulty being accepted as a rapper in his own right by figures in the music industry. Nonetheless intent on pursuing a solo career, it was several years before West finally received a record deal from Roc-A-Fella Records.</p>

	<p>The album's production was handled by West and developed his "chipmunk soul" production style, which made use of sped-up, pitch shifted vocal samples from soul and R&B records, in addition to West's own drum programming, string accompaniment, and gospel choirs. It features vocal contributions from Jay-Z, Mos Def, Jamie Foxx, Syleena Johnson, and Ludacris among many other artists. Diverging from the then-dominant gangster persona in hip hop, West's lyrics concern themes of family, self-consciousness, materialism, religion, racism, and higher education. The album was promoted by singles including "Through the Wire" and "Jesus Walks", both of which received critical acclaim. "All Falls Down" and "Slow Jamz" both charted within the top 10 on the Billboard Hot 100, with the latter charting at number one.</p>

	<p>Upon its release, The College Dropout debuted at number two on the US Billboard 200 chart, selling 441,000 copies during its first week. It was a massive commercial success, producing five singles that achieved chart success, and it received universal acclaim from music critics, earning West several accolades that included a Grammy Award for Best Rap Album at the 47th Grammy Awards. It is West's best-selling album in the United States, with domestic sales of 3.4 million copies and worldwide sales of over 4 million copies. It is often listed among the greatest debut albums of all time and has been named by Time and Rolling Stone as one of the greatest albums of all time.</p>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/j-6bqG6S3xA" frameborder="0" allowfullscreen></iframe>

	</div>

	<!--TRACKLIST/PLAYLIST-->
	<div id="track">
		<table id="list">
		<h2 id="hide">Tracklist</h2>
			<tr id="row">
				<td>No.</td>
				<td>Title</td>

			</tr>
			<tr>
				<td>1.</td>
				<td>Intro</td>
			</tr>
			<tr>
				<td>2.</td>
				<td>We Dont Care</td>
			</tr>
			<tr>
				<td>3.</td>
				<td>Graduation Day</td>
			</tr>
			<tr>
				<td>4.</td>
				<td>All Falls Down</td>
			</tr>
			<tr>
				<td>5.</td>
				<td>I'll Fly Away</td>
			</tr>
			<tr>
				<td>6.</td>
				<td>Spaceship</td>
			</tr>
			<tr>
				<td>7.</td>
				<td>Jesus Walks</td>
			</tr>
			<tr>
				<td>8.</td>
				<td>Never Let Me Down</td>
			</tr>
			<tr>
				<td>9.</td>
				<td>Get Em High</td>
			<tr>
				<td>10.</td>
				<td>Workout Plan</td>
			</tr>
			<tr>
				<td>11.</td>
				<td>The New Workout Plan</td>
			</tr>
			<tr>
				<td>12.</td>
				<td>Slow Jamz</td>
			</tr>
			<tr>
				<td>13.</td>
				<td>Breathe In Breathe Out</td>
			</tr>
			<tr>
				<td>14.</td>
				<td>School Spirit (skit 1)</td>
			</tr>
			<tr>
				<td>14.</td>
				<td>School Spirit</td>
			</tr>
			<tr>
				<td>16.</td>
				<td>School Spirit (skit 2)</td>
			</tr>
			<tr>
				<td>17.</td>
				<td>Lil Jimmy Skit</td>
			</tr>
			<tr>
				<td>18.</td>
				<td>Two Words</td>
			</tr>
			<tr>
				<td>19.</td>
				<td>Through the Wire</td>
			</tr>
			<tr>
				<td>20.</td>
				<td>Family Business</td>
			</tr>
			<tr>
				<td>21.</td>
				<td>Last Call</td>
			</tr>
		</table>
		<!-- ONCLICK FUNNCTION CALLED -->
		<button id="listen" type="button" onclick="myFunction()">Listen</button>
		<iframe style="display: none;" id="spotify" src="https://embed.spotify.com/?uri=spotify:album:3ff2p3LnR6V7m6BinwhNaQ" width="300" height="380" frameborder="0" allowtransparency="true" align=""></iframe>
	</div>

	<footer>
		<h4><a href="https://twitter.com/Itseasymike" target="_blank">&copy;Itseasymike</a></h4>
	</footer>
</body>

	<script type="text/javascript">
	//REMOVES TRACKLIST AND DISPLAYS SPOTIFY PLAYLIST
		function myFunction() {
		document.getElementById('hide').style.display = 'none';
		document.getElementById('list').style.display = 'none';
		document.getElementById('listen').style.display = 'none';
		document.getElementById('spotify').style.display = 'block';
	}
		//slideshow
	var slideIndex = 1;
	showDiv(slideIndex);

	function toggleDiv(n) {
		showDiv(slideIndex += n);
	}
	//Displays images on roation
	function showDiv(n) {
		var i;
		var x = document.getElementsByClassName("images");
		if (n > x.length) {slideIndex = 1}
		if (n < 1) {slideIndex = x.length}
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			//autoplay slideshow
		 slideIndex++;
    	if (slideIndex > x.length) {slideIndex = 1}
    	x[slideIndex-1].style.display = "block";
    	setTimeout(showDiv, 4000);
	}
	</script>

</html>
